Repository sumitgohil/woolf-asmnt: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.mjs --fix, prettier --write

Clean Logs
  apps/server/src/index.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

WorkSpce npm fix
  apps/server/package.json
  package-lock.json
Due: prettier --write

Formatting
  DEPLOYMENT.md
  README.md
  apps/client/postcss.config.js
  apps/client/src/App.tsx
  apps/client/src/index.css
  apps/client/tailwind.config.js
  apps/server/src/config/ai.ts
  apps/server/src/router.ts
  apps/server/src/services/aiService.ts
  apps/server/src/services/pdfService.ts
  apps/server/src/trpc.ts
  apps/server/src/utils/env.ts
  eslint.config.mjs
  packages/shared/src/index.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

.
  package.json
Due: prettier --write

Added ENV Example
  apps/server/.env.example
Due: none

Path conditions:
  eslint --config eslint.config.mjs --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
